[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
install = "*"
setuptools = "*"
pandas = "*"
google-api-python-client = "*"
pytz = "*"
plotly = "*"

[requires]
python_version = "3.7"
